{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react-hooks", "@typescript-eslint"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    /* quartz is a library with peer dependencies, so we do not need this rule to trigger on extraneous deps specified in `package.json/peerDependencies` */
    "import/no-extraneous-dependencies": [
      "error",
      { "peerDependencies": false }
    ],
    
    "react-hooks/exhaustive-deps": "error",
    "space-before-function-paren": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 0,
    "import/export": 0,
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "react/jsx-props-no-spreading": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "linebreak-style": 0,
    "react/require-default-props": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "object-curly-newline": "off",
    "no-restricted-exports": "off",
    "react/jsx-no-bind": "off",
    "no-shadow": "off",
    "import/no-cycle": "off",
    "react/jsx-boolean-value": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": ["off"],
    "no-console": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "func-names": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off",
    "no-use-before-define": "off",
    "no-underscore-dangle": "off"
  }
}
